@charset "utf-8";
/* CSS Document */
/* Essentials */
html,div,map,dt,isindex,form,header,aside,section,section,article,footer{display:block;font-family:"Microsoft Yahei ", "微软雅黑"; }
html,body{height:100%;margin:0;padding:0;font-family:"Microsoft Yahei ","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;background:#F8F8F8;font-size:12px}
ul li ol{list-style:none;margin:0;padding:0;outline:none;border:none}
ul, ol { list-style-type:none; }
li{list-style:none;}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;}
.spacer{height:20px}
a:link,a:visited{color:#0097ff;text-decoration:none}
a:hover{text-decoration:underline}
.txt_c{text-align:center;}
.txt_r{text-align:right;}
.mb30{margin-bottom:30px;}
.border{border:1px solid #ccc}

/* Header */
header#header{height:90px;width:100%;background:#222222 url(../images/header_bg.png) repeat-x}
header#header h2.section_title{float:left;margin:0;font-size:32px;font-weight:normal;text-indent:5%;line-height:90px;color:#fff;text-shadow:1 1px 0 #aaa;width: 60%;}
header#header span{float:right; line-height:90px; font-size:14px; color:#fff; text-shadow:1 1px 0 #aaa; margin-right:5%;}

.dw{margin: 20px 3% 0 3%;}
.dw1{border:#ccc 1px solid; margin-top:-30px; padding:20px; border-radius:3px;}
.dw2{text-align:center;margin:20px 0px;}
.dw2 input[type=radio]{margin-right:5px;}
.dw2 span{margin-top:2px; position:absolute;}


/* Main Content */
section#main{width:100%;margin:0 auto;min-height:500px}
#main h3{color:#1F1F20;text-transform:uppercase;text-shadow:0 1px 0 #fff;font-size:16px;margin:9px 20px}
/* Modules */
.module{border:1px solid #9BA0AF;width:100%;margin:20px 3% 0 3%;margin-top:20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff}
.module>div h3{display:block;width:90%;float:left}
.module>div{width:100%;background:#F1F1F4 url(../images/secondary_bar.png) repeat-x;-webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;border-top-left-radius:5px; border-top-right-radius:5px}
.module footer{height:32px;width:100%;border-top:1px solid #9CA1B0;background:#F1F1F4 url(../images/module_footer_bg.png) repeat-x;-webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px}
.module_content{margin:10px 20px;color:#666}

/* Module Widths */
.width_full{width:95%}
/* Content Manager */
.tablesorter{width:90%;margin:-5px 0 0 0}
.tablesorter td{margin:0;padding:0;border-bottom:1px dotted #ccc}
.tablesorter td,.tablesorter th{border-right:1px dotted #ccc}
.tablesorter thead tr{height:34px;background:url(../images/table_sorter_header.png) repeat-x;text-align:left;text-indent:10px;}
.tablesorter td{padding:10px}
.tablesorter input[type=image]{margin-right:10px}
/* Content Manager */
.tablesorter_b{width:100%;margin:-5px 0 0 0}
.tablesorter_b td{margin:0;padding:0;border-bottom:1px dotted #ccc}
.tablesorter_b td,.tablesorter th{border-right:1px dotted #ccc}
.tablesorter_b thead tr{height:34px;background:url(../images/table_sorter_header.png) repeat-x;text-align:left;text-indent:10px;}
.tablesorter_b td{padding:10px}
.tablesorter_b input[type=image]{margin-right:10px}

/* box */
.box{position:absolute;width:400px;left:50%;height:auto;z-index:100;background-color:#fff;border:1px #8FA4F5 solid;padding:1px;}
.box h2{height:25px;font-size:14px;background-color:#3366cc;position:relative;padding-left:10px;line-height:25px;color:#fff;margin: 0;font-family:'Microsoft Yahei', '微软雅黑';}
.box h2 a{position:absolute;right:5px;font-size:12px;color:#fff;}
.box .mainlist{padding:10px 30px;}
.box .mainlist p{line-height:30px;font-family:'Microsoft Yahei', '微软雅黑'; text-align:center}
#TB_overlayBG{background-color:#666;position:absolute;z-index:99;left:0;top:0;display:none;width:100%;height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}

.tab_container{ margin-top:15px;}
ul.tab{margin:0 auto;padding:0;list-style:none;height:24px; width:100%;}
ul.tab li{float:left;margin:0;padding:0;line-height:24px; height:24px;border-left:#ccc 1px solid;border-bottom:#ccc 2px solid;}

ul.tab2{margin:0 auto;padding:0;list-style:none;height:14px; width:100%;}
ul.tab2 li{float:left;margin:0;padding:0;line-height:14px; height:14px;border-left:#aaa 1px solid;border-bottom:#3399ff 2px solid;}
.point{border-radius:6px;background:#fcb713;height:8px;padding: 1px;width:8px;position: absolute;margin-top:-32px;z-index:999;}

ul.tab1{margin:0 auto;padding:0;list-style:none;height:24px; width:100%;}
ul.tab1 li{float:left;margin:0;padding:0;line-height:24px;}

ul.tabs{margin:-32px;list-style:none;height:24px; position:absolute; width:80%;}
ul.tabs li{float:left;margin:0;padding:0;line-height:10px;border-radius:10px;background:#fcb713; color:#fff; padding:1px 5px; text-align:center;}
ul.tabs li a{text-decoration:none;color:#999;display:block;height:10px}
ul.tabs li a:hover{color:#44474F}
ul.tabs li.active a{color:#fff; font-weight:bold;}

ul.tabsb{margin:-32px;list-style:none;height:24px; position:absolute; width:80%;}
ul.tabsb li{float:left;margin:0;padding:0;line-height:10px;border-radius:10px;background:#fff; color:#fff; padding:1px 5px; text-align:center;font-weight:bold;}
ul.tabsb li a{text-decoration:none;color:#999;display:block;padding:0 10px;height:10px}
ul.tabsb li a:hover{color:#44474F}
ul.tabsb li.active a{color:#fff; font-weight:bold;}

ul.tabsa{list-style:none;height:34px;}
ul.tabsa li{float:left;margin:0 30px;line-height:34px;border-radius:10px; background:#80cbff; padding:1px 5px; text-align:center; width:20%;margin-left:18%;}
ul.tabsa li a{text-decoration:none;color:#000;display:block;padding:0 10px;height:34px; font-size:14px;}
ul.tabsa li a:hover{color:#44474F}
ul.tabsa li.active a{color:#000; font-weight:bold;}
/* Messages */

.post_message{text-align:left;padding:5px 0}

input[type=text]{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #bbb;height:26px; color:#ccc;-webkit-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;-moz-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;text-indent:10px;background-position:10px 6px}
input[type=text]:focus{outline:none;border:1px solid #77BACE;-webkit-box-shadow:inset 0 2px 2px #ccc,0 0 4px #80cbff;-moz-box-shadow:inset 0 2px 2px #ccc,0 0 4px #80cbff;box-shadow:inset 0 2px 2px #ccc,0 0 4px #80cbff;color:#666666}

select{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #bbb;height:30px;width: 150px;color:#000;-webkit-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;-moz-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;text-indent:10px;background-position:10px 6px}
select:focus{outline:none;border:1px solid #77BACE;-webkit-box-shadow:inset 0 2px 2px #ccc,0 0 4px #80cbff;-moz-box-shadow:inset 0 2px 2px #ccc,0 0 4px #80cbff;box-shadow:inset 0 2px 2px #ccc,0 0 4px #80cbff;color:#666666}

.alt_btn{-moz-border-radius:3px;-webkit-border-radius:3px;background:#00aeef;border-radius:3px;color:#fff;display:inline-block;font:bold 14px/34px;padding:0 22px;position:relative;text-shadow:0 1px 0 #008bbf;border:none;height: 30px; margin-top:2px;}
.alt_btn:hover{opacity:0.7;text-decoration:none}


input[type=checkbox]{vertical-align:middle; width:12px; height:12px;}
input[type=submit].alt_btn1{background:#D0D1D4 url(../images/btn_submit_2.png) repeat-x;border:1px solid#30B0C8;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;font-weight:bold;height:22px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;padding:0 10px;color:#003E49;text-shadow:0 1px 0 #6CDCF9;cursor:pointer}

input[type=submit].alt_btn1:hover{color:#001217}
input[type=submit].btn_post_message{background:#D0D1D4 url(../images/post_message.png) no-repeat;display:block;width:37px;border:none;height:24px;cursor:pointer;text-indent:-5000px}
input[type=submit].btn_post_message:hover{background-position:0 -24px}

/* New/Edit Article Module */
fieldset{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#F6F6F6;border:1px solid #ccc;padding:1% 0%;margin:10px 0}
fieldset label{display:block;float:left;width:200px;height:25px;line-height:25px;text-shadow:0 1px 0 #fff;font-weight:bold;padding-left:10px;margin:-5px 0 5px 0;text-transform:uppercase}
fieldset input[type=text]{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #BBBBBB;height:20px;color:#666666;-webkit-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;-moz-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;padding-left:10px;background-position:10px 6px;margin:0;display:block;float:left;width:96%;margin:0 10px}
fieldset input[type=text]:focus{outline:none;border:1px solid #77BACE;-webkit-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;-moz-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6}
fieldset select{width:96%;margin:0 10px;border:1px solid #bbb;height:20px;color:#666666}

textarea{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #BBBBBB;color:#666666;-webkit-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;-moz-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;padding-left:10px;background-position:10px 6px;display:block;float:left;width:87%;}
textarea:focus{outline:none;border:1px solid #77BACE;-webkit-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;-moz-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6}

.submit_link{float:right;margin-right:3%;padding:5px 0}
#main h4.alert_info{display:block;width:90%;margin:20px 5% 3% 5%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#ffedc1;border: 1px solid #ffc336;color: #082B33;padding: 10px;font-size: 14px;text-shadow:0 1px 0 #fff;}

#prbar{width:81%;background-color:#ddd;overflow:hidden;-moz-border-radius:5px;border-radius:5px; position:absolute;margin-top:-28px; z-index:111;}
doesnotexist:-o-prefocus, #prbar {border-radius:0px;}        
#prpos{background-color:#3399ff;width:0%;height:4px;transition: width 8s ease;-moz-transition: width 8s ease;-webkit-transition: width 8s ease;-o-transition: width 8s ease;-ms-transition: width 2s ease; }
   
.cjclpz{position:absolute; top:20%; left:38%; width:30%; background:#f1f1f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #ddd;-moz-box-shadow:1px 1px 1px 1px #fafafa inset;-webkit-box-shadow:1px 1px 1px 1px #fafafa inset;box-shadow:1px 1px 1px 1px #fafafa inset; padding:2%;}
.sjjd{position:absolute; top:36%; left:38%; width:30%; background:#f1f1f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #ddd;-moz-box-shadow:1px 1px 1px 1px #fafafa inset;-webkit-box-shadow:1px 1px 1px 1px #fafafa inset;box-shadow:1px 1px 1px 1px #fafafa inset; padding:1% 2%; line-height:30px; font-size:14px;}
.img_box{position:absolute; top:40%; left:25%; width:46%;margin:0 auto;background:#f1f1f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #ddd;-moz-box-shadow:1px 1px 1px 1px #fafafa inset;-webkit-box-shadow:1px 1px 1px 1px #fafafa inset;box-shadow:1px 1px 1px 1px #fafafa inset;padding:2%;}
.img_box img{float:left;}
.cjclpz_dw{position:absolute; margin-left:29.4%; margin-top:-12.4%;}
.cjclpz_box{position:absolute; top:50%; left:23%; width:50%; background:#f1f1f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #ddd;-moz-box-shadow:1px 1px 1px 1px #fafafa inset;-webkit-box-shadow:1px 1px 1px 1px #fafafa inset;box-shadow:1px 1px 1px 1px #fafafa inset; padding:1% ;}
.cjclpz_box p{line-height:24px; font-size:14px;}
.cjclpzDetail{position:absolute; top:5%; left:38%; width:30%; background:#f1f1f1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #ddd;-moz-box-shadow:1px 1px 1px 1px #fafafa inset;-webkit-box-shadow:1px 1px 1px 1px #fafafa inset;box-shadow:1px 1px 1px 1px #fafafa inset; padding:2%;}





